# Ignore anything in a private folder
*/private

# Ignore anything with a .local in the name such as: quickstartvars.local.inc

*.local*

# Ignore Eclipse IDE info
.buildpath
.project
.settings

# Mac stuff
*.DS_Store
