# Ignore anything in a private folder
*/private

# Ignore anything in the .local directory

*.local/*

!*.local/README.md

# Ignore Eclipse IDE info
.buildpath
.project
.settings

# Mac stuff
*.DS_Store
